<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RetryCount" value="5"/>
    <add key="RetryIntervalInSeconds" value="120"/>
    <add key="HouseKeepingDays" value="1"/>
    <add key="SFTPHostName" value="YourSFTPServerName"/>
    <add key="SFTPPortNo" value="9022"/>
    <add key="SFTPUserName" value="SFTP_USER"/>
    <add key="SFTPUploadDirectory" value="/FTPSERVERLOCATION/Inbound"/>
    <add key="FileTransferLogPath" value="C:\FileTransfers_Batch\FileTransferLogs"/>
    <add key="SFTPPublicKeyFileForEncryption" value="C:\FileTransfers_Batch\PublicKey.key"/>
    <add key="PrivateKeyFileForExportFileToSFTP" value="C:\FileTransfers_Batch\PrivateKey.key"/>
    <add key="FileTransferExtractPath" value="C:\FileTransfers_Batch\FileTransferExtractFiles"/>
    <add key="FileTransferExtractPath" value="C:\FileTransfers_Batch\FileTransferExtractFiles\01_Consultation.zip.gpg"/>
    <add key="CSVDelimiter" value="|"/>
    <add key="CSVFileNameEndsWith" value="ConsultationReport"/>
    <add key="ManualFileTransfer" value="false"/>
    <add key="SendFile" value="true"/>
    <add key="SendAlert" value="true"/>
    <add key="SendSuccessAlert" value="true"/>
    <add key="SMTPName" value="smtp.yourdomain.com"/>
    <add key="SMTPPortNo" value="25"/>
    <add key="EnableSsl" value="true"/>
    <add key="FromEmailPassword" value="YourPassword"/>
    <add key="FromEmailAddress" value="donotreply@yourdomain.com"/>
    <add key="ToAddress" value="youremail@yourdomain.com"/>
    <add key="CSVEmailSubject" value="FileTransfer: Report CSV file job failed"/>
    <add key="CSVEmailBody" value="The CSV job failed. kindly check the logs for more details"/>
    <add key="EncryptionEmailSubject" value="FileTransfer: Report GPG encryption job failed"/>
    <add key="EncryptionEmailBody" value="The encryption job failed. kindly check the logs for more details"/>
    <add key="FileTransferEmailSubject" value="FileTransfers: Report file transfer job failed"/>
    <add key="FileTransferEmailBody" value="The file transfer job failed. kindly check the logs for more details"/>
    <add key="JobSuccessSubject" value="FileTransfers: Report file transfer job successfully completed"/>
    <add key="JobSuccessBody" value="The file transfer job Completed at ."/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>